.table {
  width: 100%;
  table-layout: fixed;
}

.table tr {
  width: 100%;
}
.table td {
  min-width: 70px;
  width: inherit;
}

.supported {
  background: #cfc;
}

.partiallySupported {
  background: #ffc;
}

.notSupported {
  background: #fcc;
}

.legend {
  padding: var(--ifm-table-cell-padding);
  margin-bottom: 6px;
}
